@keyframes move {
    from {
        opacity: 0;
        transform: translateX(-35%);
    }

    to {
        opacity: 1;
        transform: translateX(0%);
    }
}

.Email {
    border: 2px solid #667fb6;
    border-radius: 15px;
    height: 30px;
    width: 65%;
    margin-bottom: 5px;
    animation: move;
    animation-duration: 700ms;
}

input:active, input:focus {
    outline: none;
}

.Senha {
    border: 2px solid #667fb6;
    border-radius: 15px;
    height: 30px;
    width: 65%;
    margin-bottom: 10px;
    animation: move 700ms;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: #933da6;
}

.indexDiv {
    top: 50%;
    border: 2px solid #ffffff;
    background-color: #ffffff;
    height: 30%;
    width: 20rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    box-shadow: -1px -1px 17px 5px rgba(0,0,0,0.34);
}

::-webkit-input-placeholder {
    text-align: center;
}

:-moz-placeholder {
    text-align: center;
}

::-moz-placeholder {
    text-align: center;
}

:-ms-input-placeholder {
    text-align: center;
}

.Form {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.Entrar {
    border: 2px solid #667fb6;
    border-radius: 10px;
    color: #ffffff;
    background-color: #667fb6;
    height: 35px;
    width: 70px;
    animation: move;
    animation-duration: 700ms;
}

.register {
    font-size: 12px;
    animation: move;
    animation-duration: 700ms;
}
